# Copy this file to terraform.tfvars and customize for your deployment

aws_region  = "us-east-1"
vpc_name    = "csye6225-dev"
environment = "dev"

#VPC CIDR
vpc_cidr = "10.0.0.0/16"

public_subnet_count = 3
private_subnet_count = 3

subnet_cidr_newbits = 8

# Number of availability zones
az_count = 3

#allows instances to receive DNS hostnames
enable_dns_hostnames = true
#enables DNS resolution in the VPC
enable_dns_support = true
